@page
@using PizzaApp.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">      
        <h3>Pizza Selector</h3>   
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="row">

                    <label asp-for="@Model.PizzaType" class="col-lg-4"></label>
                    <select asp-for="@Model.PizzaType" asp-items="@Html.GetEnumSelectList<PizzaEnum>()" class="col-lg-4">
                        <option>Please select a pizza type</option>
                    </select>
                    <input type="submit" value="Choose Pizza Type" asp-action="Index" class="col-lg-3 mx-auto text-success" />
                </div>

                <div class="row m-5">
                   
                </div>
            </div>
        </form>
    </div>

    @if (!Model.FirstLoad)
    
    {
        <div class="card-footer">
        <h3>Results</h3>

        <div class="row">
             <img src="~/images/@Model.Pizza.Image" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block col-md-2" />   
        </div>
        <div class=" row">
                @{
                    if (Model.Pizza.IsGlutenFree)
                    {
                        <div>This Pizza is Gluten Free</div>

                    }
                    else
                    {
                       <div> This Pizza is not Gluten Free</div> 
                    }

                  }
            

        </div>
        <div class="row">
               @{
                    if (Model.Pizza.IsVegetarian)
                    {
                        <div>This Pizza is Vegetarian</div>

                    }
                    else
                    {
                       <div> This Pizza is not Vegetarian</div> 
                    }
   
               }


        </div>
        <div class="row">
           <div> This Pizza is made by @Model.Pizza.PizzaChef</div>

        </div>




        <div class="row">
            <div class="col-lg-6">
                <h4>Ingredients</h4>

                 @{
                        foreach(var ingredients in Model.Pizza.Ingredients)
                        {
                            <div class="col-lg-12">@ingredients</div>
                        }
                     }
            </div>
            <div class="col-lg-6">
                <h4>Pizza Prices</h4>
                    @{
                        foreach(var pizzaPrice in Model.Pizza.PizzaPrice)
                        {
                            <div class="col-lg-12">@pizzaPrice.Item1.ToString() - $ @pizzaPrice.Item2.ToString()</div>
                        }
                     }
            </div>
        </div>
    </div>
    }
</div>
